{% load static %}
<html>
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" name="viewport" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>こはる.萌え - Index</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  <link rel="bookmark" href="{% static 'favicon.ico' %}" />
  <link rel="icon" href="{% static 'favicon.ico' %}" />
  <!--<script src="/assets/js/fuck.js"></script>-->
  <!--<link href="/vuedist/css/app.609ca47e.css" rel="preload" as="style" />-->
  <!--<link href="/vuedist/js/app.6eeda7dd.js" rel="preload" as="script" />-->
  <!--<link href="/vuedist/js/chunk-vendors.0ef9ccce.js" rel="preload" as="script" />-->
  <!--<link href="/vuedist/css/app.609ca47e.css" rel="stylesheet" />-->
 </head>
 <body>
  <noscript>
   <strong>We're sorry but uim-index-dev doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app">
   <div class="flex wrap">
    <div class="nav pure-g">
     <div class="pure-u-1-2 logo-sm flex align-center">
      <a href="/indexold" class="flex align-center"><img src="{% static '/images/logo_white.png' %}" alt="logo" class="logo" />
       <div class="info">
        <div class="name">
         こはる.萌え
        </div>
        <div class="sign"></div>
       </div></a>
     </div>
     <div class="pure-u-1-2 auth-sm flex align-center">
      <a href="#/auth/login" class="button-index"><span>
        <span class="hide-sm">&nbsp;登录/注册</span></span></a>
     </div>
    </div>
    <div class="main pure-g">
     <div class="title pure-g">
      <div class="pure-u-1 pure-u-xl-1-2 title-left">
       <h1>こはる.萌え</h1>
       <span></span>
       <a href="#/auth/login" class="button-index">登录</a>
       <a href="#/auth/register" class="button-index">注册</a>
       <a href="#/user/panel" class="button-index">用户中心</a>
      </div>
      <div class="pure-u-xl-1-2 logo-bg">
       <img src="{% static '/images/logo_white.png' %}" alt="" class="logo" />
      </div>
     </div>
    </div>
    <div class="footer pure-g">
     <div class="pure-u-1 pure-u-xl-1-2 staff">
       POWERED BY
      <a href="./staff">SSPANEL-UIM</a>
     </div>
     <div class="pure-u-1 pure-u-xl-1-2 time">
      &copy;2020 こはる.萌え
     </div>
    </div>
    <div class="uim-messager" style="display: none;">
     <div>
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="svg-inline--fa fa-check-circle fa-w-16">
       <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" class=""></path>
      </svg>
      <span>操作成功</span>
      <!---->
     </div>
    </div>
    <!---->
   </div>
  </div>
  <!--<script src="//static.geetest.com/static/tools/gt.js"></script> -->
  <!--<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs@gh-pages/qrcode.min.js"></script>-->
  <!--<script src="/vuedist/js/chunk-vendors.0ef9ccce.js"></script>-->
  <!--<script src="/vuedist/js/app.6eeda7dd.js"></script> -->
 </body>
</html>